{% extends 'base.html' %}
{% block title %} About{% endblock title %}

<style>
    /* CSS styles */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      font-size: 28px;
      color: #333;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      color: #666;
      line-height: 1.5;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
    }
  </style>
{% block body %}


  <div class="container">
    <h1>About</h1>
    <p>Welcome to My Blog! This is a platform where we share interesting articles, news, and insights about various topics. Our mission is to provide valuable content to our readers and foster meaningful discussions.</p>


    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions, or would like to contribute to our blog, please feel free to reach out to us. We would love to hear from you!</p>

    <ul>
      <li>Email: ritik@myblog.com</li>
      <li>Phone:9508067764</li>
    </ul>
  </div>
{% endblock body %}
