{% extends 'base.html' %}
{% load static %}
{% block title %} Blog{% endblock title %}

<script>
    function openLoginPopup() {
        // Open the login pop-up window
        var popup = window.open("{% url 'login_popup' %}", "_blank", "width=400,height=300");
        // Handle the case when the user closes the pop-up window
        popup.onbeforeunload = function() {
            // Perform any necessary actions when the pop-up window is closed
            console.log("Login window closed");
        };
    }
</script>
{% block body %}
    <div class="container my-3">
        <h2>Articles By Dyanmic Blog</h2>
        {% for post in page_obj %}
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <a href="" class="text-dark">
                        <strong class="d-inline-block mb-2 text-primary">Article by {{ post.author }}</strong>
                    </a>
                    <h3 class="mb-0">{{ post.title }}</h3>
                    <div class="mb-1 text-muted">&#x23F2;{{ post.timeStamp }}</div>
                    <p class="card-text mb-auto">{{ post.content | safe | truncatechars:450 }}</p>
                    {% if user.is_authenticated %}
                        <div class="my-2">
                            <a href="/blog/{{ post.author }}" role="button" class="btn btn-primary">Continue reading</a>
                        </div>
                    {% else %}
                        <div class="my-2">
                            <a href="" role="button" class="btn btn-primary">Please Login To Read</a>
                        </div>
                    {% endif %}
                </div>

            </div>
        {% endfor %}

        <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary mr-2">Previous</a>
    {% endif %}

    <a href="?page={{ page_obj.number }}" class="btn btn-secondary mx-2">{{ page_obj.number }}</a>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary ml-2">Next</a>
    {% endif %}
</div>

    </div>
{% endblock %}
