{% extends 'base.html' %}
{% load static %}
{% block title %} Home{% endblock title %}
<style>

body{
  background-color: whitesmoke;
}


  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  .ml-auto,
  .mx-auto {
    margin-left: auto !important;
  }

  .mr-auto,
  .mx-auto {
    margin-right: auto !important;
  }

  .p-2 {
    padding: .5rem !important;
  }

  .mb-2,
  .my-2 {
    margin-bottom: .5rem !important;
  }

  .mt-2,
  .my-2 {
    margin-top: .5rem !important;
  }

  .align-items-center {
    align-items: center !important;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  element.style {
    width: 18rem;
  }


</style>
{% block body %}

<hr>
<div _ngcontent-serverapp-c44=""
  class="row">
  <div _ngcontent-serverapp-c44=""
    class="card mx-auto my-2 p-2 align-items-center"
    style="width: 18rem;"><img _ngcontent-serverapp-c44=""
      src="{% static 'img/4.jpg' %}"
      alt="..."
      class="padded card-img-top">
    <div _ngcontent-serverapp-c44=""
      class="card-body">
      <h5 _ngcontent-serverapp-c44=""
        class="card-title text-center">About</h5>
      <p _ngcontent-serverapp-c44=""
        class="card-text text-center">Welcome to our blog! We are a team of passionate writers dedicated to providing you with informative and engaging content. Explore our articles and join us in fostering meaningful discussions. Happy reading!</p><a
        _ngcontent-serverapp-c44=""
        class="card-text text-center"></p><a _ngcontent-serverapp-c44=""
          routerlink="/videos"
          class="btn btn-primary d-block"
          href="/about">Go To About</a>
    </div>
  </div>
  <div _ngcontent-serverapp-c44=""
    class="card mx-auto my-2 p-2 align-items-center"
    style="width: 18rem;"><img _ngcontent-serverapp-c44=""
      src="{% static 'img/5.jpg' %}"
      alt="..."
      class="padded card-img-top">
    <div _ngcontent-serverapp-c44=""
      class="card-body">
      <h5 _ngcontent-serverapp-c44=""
        class="card-title text-center">Blog</h5>
      <p _ngcontent-serverapp-c44=""
        class="card-text text-center">
Discover a world of captivating stories and insightful articles on our blog. From trending topics to hidden gems, we cover it all. Stay informed, inspired, and entertained. Start exploring now!</p><a _ngcontent-serverapp-c44=""
        routerlink="/blog"
        class="btn btn-primary d-block"
        href="/blog">Go to Blog</a>
    </div>

  </div>
</div>
{% endblock %}
